<footer class="mt-24 mb-12">
  <div class="mb-1 flex gap-4 font-bold">
    <div>
      <a href="https://gitlab.com/blankX/rimgo">Source Code</a>
      (<a href="https://git.nixnet.services/blankie/rimgo">Mirror</a>)
    </div>
    <a href="/about">About</a>
    <a href="/privacy">Privacy</a>
  </div>
  <p class="text-md text-slate-200">rimgo does not allow uploads or host any content. Issues with content should be reported to Imgur.</p>
</footer>
