<a href="{{Link}}">
  <div class="bg-neutral-600 rounded-lg">
    {{#equal Cover.Type "video"}}
    <video controls loop poster="/{{Cover.Id}}.webp" preload="none" width="100%" height="100%">
      <source src="{{Cover.Url}}" type="video/mp4" />
    </video>
    {{/equal}}
    {{#equal Cover.Type "image"}}
    <img src="{{Cover.Url}}" loading="lazy" width="100%" height="100%">
    {{/equal}}
    <p class="m-2 text-ellipsis whitespace-nowrap overflow-hidden">{{Title}}</p>
  </div>
</a>
