<div class="bg-neutral-600 rounded-lg">
  <a href="{{Url}}">
    <img src="{{ImageUrl}}?no_webp=1" loading="lazy" width="100%" height="100%">
  </a>
  <p class="m-2 text-ellipsis whitespace-nowrap overflow-hidden">
    <a href="{{Url}}" title="{{Title}}">{{Title}}</a><br />
    <br />
  </p>
  <div class="flex gap-2 p-2">
    <p title="{{RelTime}}" class="text-ellipsis whitespace-nowrap overflow-hidden">
      {{RelTime}}
    </p>
  </div>
</div>
