<!DOCTYPE html>
<html lang="en">

<head>
  {{> partials/head }}

  <link rel="stylesheet" href="/static/css/embed.css" />
</head>

<body>
  <div class="mediaWrapper">
    <div class="media">
    {{#each post.Media}}
    {{#equal this.Type "image"}}
    <img src="{{this.Url}}" loading="lazy">
    {{/equal}}
    {{#equal this.Type "video"}}
    <video controls loop>
      <source type="{{this.MimeType}}" src="{{this.Url}}" />
    </video>
    {{/equal}}
    {{/each}}
    </div>
  </div>
  <div class="postMeta">
    <div class="postDetails">
      {{#if post.TItle}}
      <a href="/{{post.Id}}">
        <h3>{{post.Title}}</h3>
      </a>
      {{/if}}
    </div>
  </div>
</body>

</html>
