<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {{#if post.Title}}
    {{post.Title}} -
    {{/if}}
    rimgo
  </title>

  {{> partials/head }}
</head>

<body class="font-sans text-lg bg-black text-white">
  {{> partials/nav }}


  <header>
    <h1 class="text-3xl font-bold">{{post.Title}}</h1>
    <p>{{post.CreatedAt}}</p>
  </header>

  <main>
    <div class="flex flex-col sm:flex-row my-4 w-full justify-between">
      {{#noteq next ""}}
      <a href="{{next}}" class="self-end">
        <button class="p-2 rounded-lg bg-slate-600">Next &gt;</button>
      </a>
      {{/noteq}}
    </div>

    <div class="flex flex-center flex-col break-words">
      {{#each post.Media}}
      {{#if this.Title}}
      <h4 class="font-bold">{{this.Title}}</h4>
      {{/if}}

      {{#equal this.Type "image"}}
      <img class="my-2 max-h-96 object-contain" src="{{this.Url}}" loading="lazy">
      {{/equal}}
      {{#equal this.Type "video"}}
      <video class="my-2 max-h-96 object-contain" controls loop>
        <source type="{{this.MimeType}}" src="{{this.Url}}" />
      </video>
      {{/equal}}

      {{#if this.Description}}
      <p>{{{this.Description}}}</p>
      {{/if}}
      {{/each}}
    </div>
  </main>

  {{> partials/footer }}
</body>

</html>
