<!DOCTYPE html>
<html lang="en">

<head>
  <title>Privacy - rimgo</title>

  {{> partials/head }}
</head>

<body class="font-sans text-lg bg-black text-white">
  {{> partials/nav }}

  
  <header>
    <h1 class="text-3xl font-bold">Instance Privacy</h1>
    {{#if config.Privacy.policy}}
    <p>The instance operator has indicated their instance's privacy practices below. For more information, see the
      instance operator's <a href="{{config.Privacy.policy}}">privacy policy</a>.</p>
    {{else}}
    <p>The instance operator has indicated their instance's privacy practices below.</p>
    {{/if}}

    {{#if config.Privacy.message}}
    <p class="my-4">{{{config.Privacy.message}}}</p>
    {{/if}}
  </header>
  
  <main class="flex justify-center w-full">
    {{> partials/privacy }}
  </main>
  
  <section>
    <h2 class="text-2xl my-4 font-bold">What is instance privacy?</h2>
    <p>Instance privacy aims to bring transparency to the data collected by frontends and encourage privacy friendly practices. There is often no privacy policy and users are forced to trust that the instance operator is not collecting data. However, there is a possibility that the instance operator can put false information so we encourage looking at other factors when selecting an instance.</p>
    <ul class="flex flex-col list-outside list-disc mt-2 ml-4">
      <li>
        <img class="inline invert" src="/static/icons/PhGlobe.svg" alt="" width="24px" height="24px" />
        Internet address (IP Address) - This is an address that is given to your computer or internet connection.
        This can be used to find your city or region and internet provider but can change depending on your connection.
      </li>
      <li>
        <img class="inline invert" src="/static/icons/PhLink.svg" alt="" width="24px" height="24px" />
        Page viewed (Request URL) - This is what page you are viewing.
      </li>
      <li>
        <img class="inline invert" src="/static/icons/PhDevices.svg" alt="" width="24px" height="24px" />
        Device Type (User agent) - This is what browser, device, and operating system you are using.
        Advanced users can change this with an extension or browser setting.
      </li>
      <li>
        <img class="inline invert" src="/static/icons/PhWrench.svg" alt="" width="24px" height="24px" />
        Diagnostics - When this data is only collected when there is an error or only a short amount of time while
        diagnosing an issue.
      </li>
    </ul>
  </section>
    
  <section>
    <h2 class="text-2xl my-4 font-bold">Additional information</h2>
    <ul>
      <li>Version: {{version}}</li>
      <li>Country: {{config.Privacy.country}}</li>
      <li>Provider: {{config.Privacy.provider}}</li>
      {{#if config.Privacy.cloudflare}}
      <li>Using Cloudflare?: Yes</li>
      {{else}}
      <li>Using Cloudflare?: No</li>
      {{/if}}
    </ul>
  </section>

  {{> 'partials/footer' }}
</body>

</html>
