<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{query}} - rimgo</title>

  {{> partials/head }}
</head>

<body class="font-sans text-lg bg-black text-white">
  {{> partials/nav }}

  <section class="my-4 w-full flex flex-col items-center">
    {{> partials/searchBar }}
  </section>
  
  <main>
    <div class="posts">
      {{#each results}}
      {{> partials/result }}
      {{/each}}
    </div>

    <div class="flex justify-between mt-4 font-bold">
      {{#noteq page "0"}}
      <a href="/search?q={{query}}&page={{prevPage}}">Previous page</a>
      {{/noteq}}
      <p>Page {{nextPage}}</p>
      <a href="/search?q={{query}}&page={{nextPage}}">Next page</a>
    </div>
  </main>

  {{> partials/footer }}
</body>

</html>
