<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{tag.Display}} - rimgo</title>

  {{> partials/head }}
</head>

<body class="font-sans text-lg bg-black text-white">
  {{> partials/nav }}


  <header class="p-4 rounded-xl text-white mb-4" style="background-image: url('{{tag.Background}}');">
    <div class="flex flex-col items-center justify-center text-center">
      <h2 class="text-2xl font-bold">{{tag.Display}}</h2>
      <p>{{tag.PostCount}} posts</p>
    </div>
    <div class="flex flex-col">
      {{#equal tag.Sort "popular"}}
      <a href="?sort=popular"><b>Popular</b></a>
      <a href="?sort=newest">Newest</a>
      <a href="?sort=best">Best</a>
      {{/equal}}
      {{#equal tag.Sort "newest"}}
      <a href="?sort=popular">Popular</a>
      <a href="?sort=newest"><b>Newest</b></a>
      <a href="?sort=best">Best</a>
      {{/equal}}
      {{#equal tag.Sort "best"}}
      <a href="?sort=popular">Popular</a>
      <a href="?sort=newest">Newest</a>
      <a href="?sort=best"><b>Best</b></a>
      {{/equal}}
    </div>
  </header>
  
  <main>
    <div class="posts">
      {{#each tag.Posts}}
      {{> partials/post }}
      {{/each}}
    </div>

    <div class="flex justify-between mt-4 font-bold">
      {{#noteq page "1"}}
      <a href="{{channel.RelUrl}}?page={{prevPage}}">Previous page</a>
      {{/noteq}}
      <p>Page {{nextPage}}</p>
      <a href="{{channel.RelUrl}}?page={{nextPage}}">Next page</a>
    </div>
  </main>

  {{> partials/footer }}
</body>

</html>
