<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{user.Username}}'s comments - rimgo</title>

  {{> partials/head }}
</head>

<body class="font-sans text-lg bg-black text-white">
  {{> partials/nav }}

  
  <header class="p-4 rounded-xl text-white mb-4" style="background-image: url('{{user.Cover}}');">
    <div class="flex flex-col sm:flex-row items-center gap-2">
      <img class="rounded-full" src="{{user.Avatar}}" width="72" height="72">
      <div class="items-center sm:items-start text-center sm:text-left">
        <h2 class="font-bold text-2xl">{{user.Username}}</h2>
        <p>{{user.Points}} pts · {{user.CreatedAt}}</p>
      </div>
      <hr class="sm:border-0 flex-grow">
      <div class="flex flex-col items-center sm:items-end">
        <a href="/user/{{user.Username}}">Submissions</a>
        <a href="/user/{{user.Username}}/favorites">Favorites</a>
        <a href="/user/{{user.Username}}/comments"><b>Comments</b></a>
      </div>
    </div>
    <p class="mt-2">{{user.Bio}}</p>
  </header>

  <main>
    <div class="comments flex flex-col gap-4">
      {{#each comments}}
      {{> partials/contextComment }}
      {{/each}}
    </div>
  </main>

  {{> partials/footer }}
</body>

</html>
