<!DOCTYPE html>
<html lang="en">

<head>
  <title>Not Found - rimgo</title>

  {{> partials/head }}
</head>

<body class="font-sans text-lg bg-black text-white">
  {{> partials/nav }}

  <main>
    <h2 class="text-2xl font-bold">Not Found</h2>
    <p>Click <a href="/">here</a> to return to home.</p>
  </main>

  {{> partials/footer }}  
</body>

</html>
